.banner-cadastro-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }

  .h1-banner{
    display: flex;
    justify-content: center;
    margin-left: 11rem;
    color: #000000;
  }
  
  
  .dropzone {
    border: none;
    margin-left: 10rem;
    display: table;
    font-size:1em;
    background: -webkit-linear-gradient(left, #9E0000 50%, transparent 50%), 
    -webkit-linear-gradient(left, #9E0000 50%, transparent 50%), 
    -webkit-linear-gradient(top, #9E0000 50%, transparent 50%), 
    -webkit-linear-gradient(top, #9E0000 50%, transparent 50%);
  }
  
  .dropzone{
  background-size: 12px 2px, 12px 2px, 2px 12px, 2px 12px;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-position: 0 0, left bottom, 0 0, right 0;
  }

  .dropzone:hover{
    -webkit-animation: anima-borda 10s linear infinite;
    animation: anima-borda 10s linear infinite;
  }

  @-webkit-keyframes anima-borda {
    0% {
      background-position: 0 0, left bottom, 0 0, right 0;
    }
    100% {
      background-position: 1000px 0, -1000px bottom, 0 -1000px, right 1000px;
    }
  }
  @keyframes anima-borda {
    0% {
      background-position: 0 0, left bottom, 0 0, right 0;
    }
    100% {
      background-position: 1000px 0, -1000px bottom, 0 -1000px, right 1000px;
    }
  }

.link-banner{
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 16px;
  margin-top: 8rem;
  margin-left: 10rem;
  padding: 28px;
}

.input-link{
  background-color: #999999;
  border-radius: 6px;
  border: none;
  width: 250px;
}

.botao-banner:hover{
  background-color: #000000;
}

.alt-banner{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-left: 10.5rem;
}

.input-alt{
  background-color: #999999;
  border-radius: 6px;
  border: none;
  width: 250px;
  height: 25px;
  margin-bottom: 8rem;
}

.label-banner{
  display: flex;
  justify-content: center;
  padding: 60px;
}

.image-banner{
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.banner-form-image{
  width: 20px;
  height: 150px;
}

.botao-alterar-banner{
  display: flex;
  justify-content: center;

}

.banner-item {
  margin: 10px;
  text-align: center;
}

.banner-thumbnail {
  width: 200px;
  height: 100px;
  object-fit: cover;
}

.botao-banner{
  width: 80px;
  height: 50px;
  border-radius: 6px;
  border: 2px solid #000000;
  color: #ffffff;
  background-color: #4a4a4a;
  cursor: pointer;
  transition: 0.6s;
  margin-left: 10rem;
  font-size: 18px;
}

.imagem-texto{
  display: flex;
  justify-content: center;
  align-self: center;

}

