
.modal-produtos{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1000px;
    height: 610px;
    background-color: rgb(129, 129, 129);
    border-radius: 16px;
    border: 2px solid #000000;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
}

.cadastro-produtos1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;
    
}

.cadastro-produtos2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;
}

.cadastro-texto{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.label-produtos{
    display: flex;
    flex-direction: column;
    font-size: 20px;

}

.input-produtos{
    border-radius: 6px;
    height: 28px;
    border: none;
    width: 200px;
}

.input-produtos1{
    border-radius: 6px;
    height: 28px;
    border: none;
    width: 300px;
}

.input-produtos2{
    border-radius: 6px;
    height: 28px;
    border: none;
    width: 300px;
}

.input-produtos3{
    border-radius: 6px;
    height: 28px;
    border: none;
    width: 200px;
}

.input-produtos4{
    border-radius: 6px;
    height: 28px;
    border: none;
    width: 250px;
}

.input-produtos5{
    border-radius: 6px;
    height: 28px;
    border: none;
    width: 200px;
}

.input-produtos6{
    border-radius: 6px;
    height: 28px;
    border: none;
    width: 200px;

}

.imagem-banner-click{
    cursor: pointer;
}

.botao-banner-salvar{
    border-radius: 6px;
    border: none;
    height: 40px;
    width: 150px;
    background-color: #9E0000;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0,2s;
    font-size: 18px;
}

.botao-banner-salvar:hover{
    background-color: #820101;
}

.imagem-botao-modal{
    display: flex;
    
}

