.principal{
  margin-top: 5rem;
}

.banner {
  margin: 0 auto; 
  overflow: hidden;
  border-radius: 18px 18px 0px 0px;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
}

.banner-img {
  min-height: auto;
}

.carousel-control-next{
  background-color: brown;
}

.carousel-root {
  max-width: 100%; 
}

.carousel .slider-wrapper {
  padding: 0;
}

.carousel .slide {
  display: flex; 
  justify-content: center; 
}

.mudar-slide{
  background-color: white;
}

.carousel-status{
  
  visibility: hidden !important;
}

.img1 {
  min-width: 1520px;
  min-height: 1090px;
}