.principal{
  margin-top: 5rem;
}

.banner {
  margin: 0 auto; 
  overflow: hidden;
  border-radius: 18px 18px 0px 0px;
  
}

.banner-img {
  min-height: auto;
  /* align-items: center; */
  display: flex;
}
/* .banner-height{
  min-height: 250px;
} */
.carousel-control-next{
  background-color: brown;
}

.carousel-root {
  max-width: 100%; 
}

.carousel .slider-wrapper {
  padding: 0;
}

.carousel .slide {
  display: flex; 
  justify-content: center; 
}

.mudar-slide{
  background-color: white;
}

.carousel-status{
  
  visibility: hidden !important;
}

.imagem-banner{
  width: 100%;
  height: 100%;
}

