.principal{
  margin-top: 5rem;
}

.banner {
  margin: 0 auto; 
  overflow: hidden;
  border-radius: 18px 18px 0px 0px;
  width: 79,5vw;
  min-height: 200px;
}

.banner-img {
  height: 200px;  
  display: flex;
  align-items: center;
}
/* .banner-height{
  min-height: 250px;
} */
.carousel-control-next{
  background-color: brown;
}

.carousel-root {
  max-width: 100%; 
}

.carousel .slider-wrapper {
  padding: 0;
}

.carousel .slide {
  display: flex; 
  justify-content: center; 
}

.mudar-slide{
  background-color: white;
}

.carousel-status{
  
  visibility: hidden !important;
}

.imagem-banner{
  min-width: 100%;
  min-height: 100%;
}

