/* .password-input-icon{
    position: relative;
    top: 4px;
    padding-top: 0.005%;
    padding-left: 0.005%;
    padding-bottom: 0.005%;
    padding-right: 0.005%;

    background-color: #fff;
    margin-right: -15%;
    margin-left: -10%;
    border-radius: 10px;
    border: none;
  }

  .password-input-icon:hover{
    background-color: #fff;
    color: #43b44e;

  }

  .password-input{
      margin-bottom: 5%;
  }
.password-input{
    background-color: var(--white--font);
    width: 100%;
    border: none;
    font-size: 20px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    }
.password-label{
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    width: 295px;
    height: 33px;
    } */
