* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    margin-top: 5%;
    color: #FFF5E7;
}

li{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    
    
}

.primeiro{
    display: flex;
    flex-direction: column;
}

.container{
    height: 200px;
    margin-top: 34%;
    background: #9E0000;
    color: #FFF5E7;
    font-family: "Oswald";
    font-weight: 700;
}

.footer-link{
    margin-top: 2%;
    margin-left: 22%;
    
}

.footer-linkk{
    margin-left: 35%;
}


/* .primeiro{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit,minmax(50px,1fr));
    grid-template-rows: repeat(2,50px);
} */