@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 300px;
    background: #9E0000;
    color: #FFF5E7;
    font-family: "Oswald";
    font-weight: 700;
    margin-top: 40rem;
}

.grid-footer{
    display: grid;
    grid-column: 1/5;
    grid-row: 1/3;
    padding: 20px;
}

h2{
    margin-top: 2rem;
    color: #FFF5E7;
    font-size: 28px;

}

li{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    
    
}

.primeiro{
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    gap: 5px;
    margin-top: 1rem;
}

.footer-link{
    padding-top: 0.3rem;
}

.footer-cash{
    max-width: 200px;
    margin-top: -2rem;
}

.redes{
    display: flex;
    
}

.click{
    max-width: 15%;
}

.click-insta{
    max-width: 55px;
}
