@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background: #9E0000;
    color: #FFF5E7;
    font-family: "Oswald";
    font-weight: 700;
    margin-top: 10rem;
    margin-bottom: 0;
    box-shadow: 4px 8px 8px 2px rgba(0, 0, 0, 0.25) inset;
}

.img-cash{
    width: 200px;
}

@media (max-width: 3000px) and (min-width: 1200px) { 

    .container{
        height: 300px;
    }

}

@media (max-width: 1200px) and (min-width: 1020px) { 

    .container{
        height: 450px;
    }

}

@media (max-width: 1020px) and (min-width: 0px) { 

    .container{
        height: 500px;
    }

}

.grid-footer{
    padding: 20px;
}

.titulos {
    margin-top: 2rem;
    color: #FFF5E7;
    font-size: 28px;

}

@media (max-width: 3000px) and (min-width: 1200px) { 

li{
    display: flex;
    justify-content: space-between;
    grid-template-columns: 20% 20% 20% 20% 20%;
  }

.apagar{
    display: none;
}

}

@media (max-width: 1200px) and (min-width: 0px) { 

    li{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 200px;
    }
    
    }

.primeiro{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 0.5rem;
}

.footer-link{
    padding-top: 0.3rem;
    color: #FFF5E7 !important;
    width: 160px;
}

.footer-link1{
    padding-top: 0.01rem;
    color: #FFF5E7 !important;
    width: 110px;
}

.footer-link2{
    padding-top: 0.3rem;
    color: #FFF5E7 !important;
    width: 100px;
}

.footer-link3{
    padding-top: 0.3rem;
    color: #FFF5E7 !important;
    width: 70px;
}

.footer-link4{
    padding-top: 0.3rem;
    color: #FFF5E7 !important;
    width: 110px;
}

.footer-link5{
    padding-top: 0.3rem;
    color: #FFF5E7 !important;
    width: 120px;
}

.footer-cash{
    max-width: 200px;
    margin-top: -2rem;
}

.div-icons{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 30px;
}


.linkedin-cor{
    color: #FFF5E7;
}

.instagram-cor{
    color: #FFF5E7;
}

.face-cor{
    color: #FFF5E7;
}