* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    
}

.primeiro{
    display: flex;
    flex-direction: column; 
}

.container{
    height: 160px;
    margin-top: 34%;
    background: #9E0000;
    color: rgb(0, 0, 0);
    font-family: "Oswald";
    font-weight: 700;
}

/* .primeiro{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit,minmax(50px,1fr));
    grid-template-rows: repeat(2,50px);
} */