.Orders-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    height: 80px;
    font-size: 22px;
    background-color: #FFECCE;
}

.Orders-content{
    display: flex;
    font-size: 28px;
    justify-content: center;
    margin-bottom: 4rem;
}

.trocas-div{
    display: flex;
    justify-content: center;
}

.img-trocas{
    min-width: 50vw;
    min-height: 60vh;
}