.history-tilte{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    height: 80px;
    font-size: 28px;
    background-color: #FFECCE;
}

.subtitle-history{
    display: flex;
    font-size: 28px;
    justify-content: center;
    margin-bottom: 5rem;
}

.content-history{
    display: flex;
    justify-content: center;
    margin-left: 4rem;
    font-size: 28px;
    width: 93%;
    margin-bottom: 6rem;
}

.img-history{
    display: flex;
    justify-content: center;
}