.ourstory-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    height: 80px;
    font-size: 28px;
    background-color: #FFECCE;
}

.ourstory-content{
    display: flex;
    justify-content: center;
}

.ourstory-img{
    width: 800px;
    height: 700px;  
}