body::-webkit-scrollbar {
  width: 12px;               
}

body::-webkit-scrollbar-track {
  background-color: #333;        
}

body::-webkit-scrollbar-thumb {
  background: rgb(102, 102, 102);     
  border-radius: 8px;       
  border: 1px solid rgb(0, 0, 0);  
}


/* navbaradm.css */
/* ... outras regras CSS ... */

.admin-container {
  display: flex;
}

.admin-sidebar {
  width: 13%;
  background-color: #333;
  color: #fff;
  transition: 0.3s ease;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
}

.admin-sidebar::-webkit-scrollbar {
  width: 4px;
  height: 100%;       
}

/* navbaradm.css */
/* ... outras regras CSS ... */


.admin-sidebar.minimized {
  width: 8%;
  flex-direction: column;
}

.admin-nav.minimized {
  display: none;
}

.user-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  cursor: pointer;
  margin-bottom: 30px;
}

.item-icon{
  margin-top: 2px;
  margin-right: 5px;
}

a.item-list{
  padding: 15px;
  text-decoration: none;
  color: white;
  margin: 5px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  background-color: #252525;
  border-radius: 10px;
  padding: 20px;
}

.titulo-admin{
  padding: 16px;
  transition: 0.3s; 
}

.titulo-admin:hover{
  background-color: #4a4a4a;
  border-radius: 12px;
}

.imagem-usuario {
  width: 80px;
  min-height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ffffff;
  transition: all 0.2s ease;
}

.user-column.minimized .imagem-usuario {
  width: 40px;
  height: 40px;
}

.nameuser {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}

.navbar-adm-main{
  margin-bottom: 30px;
}

.admin-nav {
  display: grid;
  grid-template-columns: 100%;
  list-style: none;
  padding: 0;
}

.admin-nav.hidden {
  display: none;
}

.admin-nav li a {
  color: #fff;
  text-decoration: none;
  display: block; 
  padding: 10px 0; 
  
}

.admin-nav li a svg {
  margin-right: 10px;
}

.admin-content {
  flex-grow: 1;
  background-color: #333;
  padding: 20px;
  transition: margin-left 0.3s ease;
}
  
.main-adm{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 32px;
 } 

.li-itens:hover{
  background-color: #4a4a4a;
  
}

@media (max-height:2000px) and (max-width:900px){
  .item-list{
    font-size: 14px !important;
  }

  @media (max-height:2000px) and (max-width:650px){
    .item-list{
      font-size: 10px !important;
    }
  }
}