:root{
    --main-bg-color: black;
}



.modal-produtos{
    display: flex;
    flex-direction: column;
    margin-left: 35rem;
    margin-top: 1rem;
    width: 1000px;
    height: 820px;
    background-color: rgb(129, 129, 129);
    border-radius: 12px;
    border: 2px solid #000000;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
}

.cadastro-produtos1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
    
}

.cadastro-produtos2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
    gap: 1rem;
}

.cadastro-produtos3{
    display: flex;
    margin-bottom: 3rem;
    margin-left: 2.4rem;
    gap: 5rem;
}

.cadastro-texto{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 4rem;
    font-size: 40px;
}

.label-produtos{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 8px;
}

.input-produtos1{
    border-radius: 8px;
    height: 30px;
    border: none;
    width: 300px;
    padding: 5px;
}

.input-produtos2{
    border-radius: 8px;
    height: 30px;
    border: none;
    width: 300px;
    padding: 5px;
}

.input-produtos3{
    border-radius: 8px;
    height: 30px;
    border: none;
    width: 200px;
    padding: 5px;
}

.input-produtos4{
    border-radius: 8px;
    height: 30px;
    border: none;
    width: 250px;
    padding: 5px;
}

.input-produtos5{
    border-radius: 8px;
    height: 30px;
    border: none;
    width: 300px;
    padding: 5px;
}

.input-produtos6{
    border-radius: 8px;
    height: 30px;
    border: none;
    width: 200px;
    padding: 5px;
}

.input-produtos7{
    border-radius: 8px;
    height: 30px;
    border: none;
    width: 300px;
    padding: 5px;

}

.input-produtos8{
    border-radius: 8px;
    height: 30px;
    border: none;
    width: 200px;
    margin-bottom: 1rem;
    padding: 5px;
}

.label-imagem{
    font-size: 26px;
    margin-left: 13rem;
}

.teste{
    display: flex;
    align-items: center;
    font-size: 18px;
}

.imagem-banner-click{
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-left: 6rem;
    font-size: 18px;
    width: 300px;
    height: 200px;
    margin-top: 1.5rem;
    border: none;
    font-size:1em;
    background: -webkit-linear-gradient(left, #9E0000 50%, transparent 50%), 
    -webkit-linear-gradient(left, #9E0000 50%, transparent 50%), 
    -webkit-linear-gradient(top, #9E0000 50%, transparent 50%), 
    -webkit-linear-gradient(top, #9E0000 50%, transparent 50%);
}



    .imagem-banner-click{
        background-color: #b9b9b9;
        background-size: 12px 2px, 12px 2px, 2px 12px, 2px 12px;
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-position: 0 0, left bottom, 0 0, right 0;
        }


    .imagem-banner-click:hover{
        -webkit-animation: anima-borda 10s linear infinite;
        animation: anima-borda 10s linear infinite;
      }
    
      @-webkit-keyframes anima-borda {
        0% {
          background-position: 0 0, left bottom, 0 0, right 0;
        }
        100% {
          background-position: 1000px 0, -1000px bottom, 0 -1000px, right 1000px;
        }
      }
      @keyframes anima-borda {
        0% {
          background-position: 0 0, left bottom, 0 0, right 0;
        }
        100% {
          background-position: 1000px 0, -1000px bottom, 0 -1000px, right 1000px;
        }
      } 

.botao-banner-salvar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: none;
    height: 60px;
    width: 170px;
    background-color: #9E0000;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0,2s;
    font-size: 24px;
    margin-left: 35rem;
    margin-top: -8rem;
}

.botao-banner-salvar:hover{
    background-color: #820101;
}


.imagem-modal{
    display: flex;
    justify-content: center;
}

.img-banner{
    height: 180px;
    width: 280px;
}