.h1-products{
    font-size: 250%;
}

.h1-products, .adm-product-lister{
    display: flex;
    justify-content: center;
}

.adm-products{
    margin-right: 20rem;
}

.adm-product-list{
    margin-left: 15vw;
}