.modal-total {
    width: 898px;
    overflow: hidden;
}

.endereco-um {
    margin-top: 0.5rem;
}

.endereco-dois {
    display: inline-block;
    width: 449px;
    padding: 1rem 2rem 1rem 2rem;
    height: 521px;
    border-right: 2px solid #000;
    margin-top: 0.5rem;
} 

.titulo-endereco {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.titulo-endereco-um {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.label-endereco {
    max-width: 50%;
    font-size: 20px;
    margin-right: 1rem;
    margin-left: 1rem;
}

.dados-endereco {
    border: none;
    background-color: #E1C59B;
    border-radius: 10px;
    height: 35px;
    font-size: 20px;
    margin: 1rem 1rem 0 0;
    padding-left: 0.5rem;
    margin-right: 0;
}

.dados-endereco.cidade,
.dados-endereco-um.cidade {
    margin-left: 45px;
    width: 233px;
}

.dados-endereco.rua,
.dados-endereco-um.rua {
    margin-left: 68px;
    width: 233px;
}

.dados-endereco.estado,
.dados-endereco-um.estado {
    margin-left: 48px;
    width: 233px;
}

.dados-endereco.cep,
.dados-endereco-um.cep {
    margin-left: 68px;
    width: 233px;
}

.dados-endereco.bairro,
.dados-endereco-um.bairro {
    margin-left: 50px;
    width: 233px;
}

.dados-endereco.numero,
.dados-endereco-um.numero {
    margin-left: 40px;
    width: 233px;
}

.dados-endereco.complemento,
.dados-endereco-um.complemento {
    width: 228px;
}

.dados-endereco-um {
    border: none;
    background-color: #E1C59B;
    border-radius: 10px;
    height: 35px;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 0;
    width: 60%;
}

.botao-excluir-div {
    padding: 0.5rem 0 0rem 1rem;
}

.endereco-container {
    width: 449px;
    height: 521px;
    padding: 1rem 0 1rem 2rem;
    border-right: 2px solid #000;
}

.endereco-container, 
.botao-adicionar-div {
    display: inline-grid;
}

.icon-add {
    cursor: pointer;
    color: #9E0000;
    margin-left: 30%;
}

.botao-adicionar,
.botao-excluir {
    border-radius: 10px;
    font-size: 1rem;
    border: 2px solid #000;
    height: 3.2rem;
    width: 6rem;
    background-color: #9E0000;
    cursor: pointer;
    color: #fff;
} 

.botao-adicionar:hover,
.botao-excluir:hover {
    background-color: #850101;
}

.adress-alter {
    color: #9E0000;
    padding-left: 7rem;
}

.adress-alter:hover {
    color: #850101;
    cursor: pointer;
}

.botao-adicionar-div {
    margin-left: 10rem;
    justify-content: center;
}

.add-endereco-um, 
.add-endereco-dois {
    display: inline-block;
}

.botao-add-endereco-um,
.botao-add-endereco-dois {
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-size: 1rem;
    border: 2px solid #000;
    height: 3.2rem;
    width: 7rem;
    background-color: #9E0000;
    cursor: pointer;
    color: #fff;
}

.botao-add-endereco-um:hover,
.botao-add-endereco-dois:hover  {
    background-color: #850101;
}

.icon-add-um,
.icon-add-dois {
    cursor: pointer;
    color: #9E0000;
    margin-left: 30%;
}

.add-endereco-um {
    margin: 12rem 0 0 13rem;
}

.add-endereco-dois {
    margin-left: 16rem;
}

.button-save-new-adress,
.button-cancel-new-adress {
    background-color: #9E0000;
    width: 4.5rem;
    height: 3rem;
    border: 2px solid #000;
    border-radius: 10px;
    color: #FFF;
    font-size: 1rem;
    cursor: pointer;
}

.button-save-new-adress {
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.button-cancel-new-adress {
    margin-left: 12rem;
}