
/* navbaradm.css */
/* ... outras regras CSS ... */

.admin-container {
  display: flex;
}

.admin-sidebar {
  width: 250px;
  background-color: #333;
  color: #fff;
  transition: 0.3s ease;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}
/* navbaradm.css */
/* ... outras regras CSS ... */


.admin-sidebar.minimized {
  width: 80px;
  flex-direction: column;
}

.admin-nav.minimized {
  display: none;
}

.user-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  cursor: pointer;
  margin-bottom: 30px;
}

h3{
  padding: 16px;
  transition: 0.3s; 
}

h3:hover{
  background-color: #4a4a4a;
  border-radius: 12px;
}


.imagem-usuario {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ffffff;
  transition: all 0.2s ease;
}

.user-column.minimized .imagem-usuario {
  width: 40px;
  height: 40px;
}


.nameuser {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}

.hidden {

}


.navbar-adm-main{
  margin-bottom: 30px;
}

.admin-nav {
  list-style: none;
  padding: 0;
}

.admin-nav.hidden {
  display: none;
}



.admin-nav li a {
  color: #fff;
  text-decoration: none;
  display: block; 
  padding: 10px 0; 
  
}

.admin-nav li a svg {
  margin-right: 10px;
}

.admin-content {
  flex-grow: 1;
  background-color: #333;
  padding: 20px;
  margin-left: 250px;
  transition: margin-left 0.3s ease;
}

.admin-content.minimized-content {
  margin-left: 70px;
}
  
.main-adm{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 32px;
 }

.li-itens{
  font-size: 18px;
  display: flex;
  flex-direction: column;
  transition: 0.2s; 
}

.li-itens:hover{
  background-color: #4a4a4a;
  
}
