@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

.navbarcat {
    display: grid;
    justify-content: space-around;
    background-color:#9E0000;
    border: 2px solid #000000;
    height: 70%;
    grid-template-columns: 20% 20% 20% 20% 20%;
  }

.button-category, .category-clicked{
  padding: 15px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Oswald';
  font-weight: 700;
  color: #FFF5E7;
  background-color: #9E0000;
}

.category-clicked{
  background-color: rgb(124, 0, 0);
}
  
button.button-category:hover {
  color: #FFE2B6;
}