.search {
  display: flex;
  width: 40%;
  height: 30px;
  margin-right: 10rem;
}

.search-input {
  display: flex;
  font-weight: 600;
  border: none;
  width: 600px;
  border-radius: 10px;
}

.lupa{
  color: #000000;
  height: 30px;
  width: 28px;
  background-color: #FFE2B6;
  border-radius: 0px 10px 10px 0px; 
  padding: 4px 2px 3px 6px;
  display: block;
  margin-top: 0px;
  margin-bottom: center;
}

.lupa-a{
  margin-left: -1.8rem;
}

@media (min-width: 0px) and (max-width: 830px)
{
  .search{
    margin-right: 2%;
    
  }
}



