.search {
  display: flex;
  width: 35%;
  height: 30px;
  gap: 16px;
}


.categoria-icon{
  color: #ffffff;
  height: 40px;
  width: 40px;
  margin-top: -0.3rem;
  cursor: pointer;
}

.search-input {
  display: flex;
  font-weight: 600;
  border: none;
  width: 600px;
  border-radius: 10px;
}

.lupa{
  color: #000000;
  height: 30px;
  width: 28px;
  background-color: #FFE2B6;
  border-radius: 0px 10px 10px 0px; 
  padding: 4px 2px 3px 6px;
  margin-top: 0px;
}

.lupa-a{
  margin-left: -1.8rem;
}




