.image-upload-modal {
    position: fixed; 
    z-index: 2;  
}

.name-and-image{
    margin-top: 25px;
}

.perfil-usuario{
    display: flex;
    justify-content: center;
    font-family: 'Oswald';
    margin-top: 0.8rem;
    color: #000000;
    font-weight: 700;
}

.user-data{
    display: grid;
    grid-template-columns: 60% 60%;
}

.conta-usuario{
    margin-top: 2.5rem;
    display: grid;
    font-weight: 400;
    font-size: 22px;
    font-family: 'Oswald';
    gap: 10px;
}

.dados-pessoais{
    padding: 10px;
    border: 1px solid #E1C59B;
    background-color: #E1C59B;
    border-radius: 10px;
    width: 375px;
    height: 40px;
    border: none;
    font-size: 20px;
    box-sizing: border-box;
    font-weight: 300;
}

.user-image-container {
    position: relative;
    display: inline-block;
    margin-left: 4rem;
    max-width: 350px;
    max-height: 350px;
}

.imagem-perfil{
    min-width: 350px;
    min-height: 350px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #000000;
    overflow: hidden;
}

.botao-hover {
    display: none;
    position: absolute;
    cursor: pointer;
    width: 100px;
    height: 55px;
    bottom: 8.5rem;
    left: 11rem;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.user-image-container:hover .botao-hover {
    display: block;
}

.image-upload-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
}

.image-upload-modal-content {
    background-color: #ffefd5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    height: 580px;
    border: 2px solid #2c2c2c;
    border-radius: 10px;
    font-family: 'Oswald';
}

.atualizar-imagem{
    display: flex;
    justify-content: center;
    color: #000000;
    font-size: 25px;
    margin-bottom: 4rem;
    margin-top: -2rem;

}

.selecionar-imagem{
    margin-top: 2rem;
    font-size: 18px;
}

.mudar-imagem-perfil{
    width: 280px;
    height: 200px;
}

.botao-salvar-margin{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.botao-cancelar{
    font-family: 'Oswald';
    font-size: 20px;
    background-color:#9E0000;
    width: 120px;
    height:50px;
    border-radius: 8px;
    border: 2px solid #000000;
    color: #ffffff;
    cursor: pointer;
}

.botao-salvar{
    font-family: 'Oswald';
    font-size: 20px;
    background-color: #9E0000;
    width: 120px;
    height:50px;
    border-radius: 8px;
    border: 2px solid #000000;
    color: #ffffff;
    cursor: pointer;
}

.botao-salvar:hover{
    background-color: #820101;
}

.botao-cancelar:hover{
    background-color: #820101;
}

.close-image{
    display: block;
    color: rgb(186, 23, 23);
    margin-left: 27.5rem;
    cursor: pointer;
    font-size: 50px;
    margin-top: -2rem;
}

.close-image:hover{
    color:  rgb(255, 0, 0);;
}

.texto-mudar-imagem{
    display: block;
    align-items: center;
    margin-left: 5rem;
}

.selecionar-imagem{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.campo-selecionar{
    display: flex;
    justify-content: center;
}

.imagem-usuario-dropzone{
    display: grid;
    justify-content: center;
}

.texto-img{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.selecionar-imagem-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    width: 300px;
    height: 220px;
    cursor: pointer;
    font-size:1em;
    background: -webkit-linear-gradient(left, #9E0000 50%, transparent 50%), 
    -webkit-linear-gradient(left, #9E0000 50%, transparent 50%), 
    -webkit-linear-gradient(top, #9E0000 50%, transparent 50%), 
    -webkit-linear-gradient(top, #9E0000 50%, transparent 50%);
}

.selecionar-imagem-banner{
    background-size: 12px 2px, 12px 2px, 2px 12px, 2px 12px;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-position: 0 0, left bottom, 0 0, right 0;
}

.selecionar-imagem-banner:hover{
    -webkit-animation: anima-borda 10s linear infinite;
    animation: anima-borda 10s linear infinite;
}

@-webkit-keyframes anima-borda {
    0% {
      background-position: 0 0, left bottom, 0 0, right 0;
    }
    100% {
      background-position: 1000px 0, -1000px bottom, 0 -1000px, right 1000px;
    }
  }
  @keyframes anima-borda {
    0% {
      background-position: 0 0, left bottom, 0 0, right 0;
    }
    100% {
      background-position: 1000px 0, -1000px bottom, 0 -1000px, right 1000px;
    }
  }
  .slider{
    color: #820101 !important;
  }
  
  /* .form-imagem{
    display: flex;
    align-items: center;
    justify-content: center;
  } */

.zoom-slider{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.avatar-editor{
    display: flex;
    justify-content: center;
}
