.login{
    display: flex;
    justify-content: center;
    font-family: 'Oswald';
    font-size: 40px;
    color: #000000;
    font-weight: 600;
    margin-top: -2.5rem;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    border-radius: 10px;
    font-family: 'Oswald';
    font-weight: 300;
    margin-top: 0.5rem;
}

.login-form input {
    padding: 10px;
    border: 1px solid #E1C59B;
    background-color: #E1C59B;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    border: none;
    font-size: 20px;
    box-sizing: border-box;
    font-weight: 300;
}

.login-button {
    align-self: center;
    text-align: center;
    width: 150px;
    height: 60px;
    background-color: #9E0000;
    color: #fff;
    border: 2px solid #000000;
    border-radius: 8px;
    cursor: pointer;
    font-size: 26px;
}

.s{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login-button:hover{
    background-color: #b62121;
}

.login-text{
    display: flex;
    justify-content: center;
}

.login-form a {
    text-align: center;
    text-decoration: none;
    color: #000000;
    padding: 2px;
    font-size: 22px;
    font-weight: 600;
}

.login-form a:hover {
    color: rgb(186, 23, 23);
}

.password-input-icon{
    background-color: #E1C59B;
    position: relative;
    margin-top: -3rem;
    padding-top: 0.005%;
    padding-left: 0.005%;
    padding-bottom: 0.005%;
    padding-right: 0.005%;
    width: 15%;
    margin-left: 19rem;
    border-radius: 10px;
    border: none;
    color: #000000;
    margin-bottom: 2.5rem;
}

.password-input-icon:hover{
    color: rgb(186, 23, 23);
}

.password-input{
    margin-bottom: 1rem;
    color: #000000;
    font-weight: 700;  
}

.password-label{
    display: block;
    margin-bottom: 1.5rem;
    font-size: 28px;
    width: 339px;
    height: 29px;
    margin-left: 10px;
    color: #000000;
    font-family: 'Oswald';
    font-weight: 400;
}

