
* {
  box-sizing: border-box;
}

body{
  margin: 0;
}

.container-fluid {
  position: relative;
}

.imagem-usuario {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #000000;
}
.navbar {
  background: #9E0000;
  width: 100%;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list li {
  display: inline;
}

.nav-list li a {
  color: #fff;
  text-decoration: none;
}

.nav-list li a:hover {
  background-color: black;
}

.conteudo{
  display: flex;
  gap: 22px;
  margin-right: 2rem;
}

.carrinho:hover{
  color: #FFE2B6;
}

.perfil:hover{
  color: #FFE2B6;
}

.notificacao:hover{
  color: #FFE2B6;
}

.carrinho {
  height: 45px;
  width: 45px;
  color: #ffffff;
  transform: 0.6;
}

.perfil {
  height: 45px;
  width: 45px;
  color: #ffffff;
  transform: 0.6;
}

.notificacao{
  height: 47px;
  width: 47px;
  color: #ffffff;
  transform: 0.6;
}

.logo {
  margin-left: -4rem;
  max-width: 220px;
  height: 150px;
  min-width: 220px;
}



.login{
  display: flex;
  justify-content: center;
  font-family: 'Oswald';
  font-size: 40px;
  color: #000000;
  font-weight: 600;
  margin-top: -2.5rem;
}

.modal {
  z-index: 2;
  background-color: #FFECCE;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5); 
  margin: 80px 0; 
  padding: 0px;
  border-radius: 10px;
  margin-top: 5rem;
  border: 2px solid #000000;
  width: 500px;
}

.modal-usuario{
  z-index: 2;
  display: flex;
  background-color: #FFECCE;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5); 
  margin: 80px 0; 
  padding: 0px;
  margin-top: 5rem;
  border: 2px solid #000000;
  width: 1100px;
  height: 525px;
  margin-left: 22%;
  border-radius: 0 10px 10px 0px;
}

.modal-usuario1{
  width: 200px;
  background-color: #FFECCE;
  border-right: 2px solid #000000;

}



.botao-perfil{
  width: 198px;
  height: 47px;
  color: #FFFFFF;
  background-color: #9E0000;
  font-family: 'Oswald';
  font-size: 20px;
  border-bottom: 2px solid #000000;
  border-left: none;
  border-right: none;
  border-top: none;
  cursor: pointer;
  
}

.seta-voltar{
  display: block;
  font-size: 40px;
  margin-top: -3rem;
  margin-left: -12rem;
  color: #9E0000;
  cursor: pointer;
}

.seta-voltar:hover{
  color: #800000;
}

.botao-compras{
  width: 198px;
  height: 47px;
  color: #FFFFFF;
  background-color: #9E0000;
  font-family: 'Oswald';
  font-size: 20px;
  border-bottom: 2px solid #000000;
  border-left: none;
  border-right: none;
  border-top: none;
  cursor: pointer;
}

.botao-compras:hover{
  background-color: #850101;
}

.botao-historico{
  width: 198px;
  height: 47px;
  color: #FFFFFF;
  background-color: #9E0000;
  font-family: 'Oswald';
  font-size: 20px;
  border-bottom: 2px solid #000000;
  border-left: none;
  border-right: none;
  border-top: none;
  cursor: pointer;
}

.botao-historico:hover{
  background-color: #850101;
}

.botao-enderecos{
  width: 198px;
  height: 47px;
  color: #FFFFFF;
  background-color: #9E0000;
  font-family: 'Oswald';
  font-size: 20px;
  border-bottom: 2px solid #000000;
  border-left: none;
  border-right: none;
  border-top: none;
  cursor: pointer;
}

.botao-enderecos:hover{
  background-color: #850101;
}

.botao-sair{
  position: relative 0;
  cursor: pointer;
  width: 198px;
  height: 47px;
  color: #FFFFFF;
  background-color: #9E0000;
  font-family: 'Oswald';
  font-size: 20px;
  border: 2px solid #000000;
  border-left: none;
  border-right: none;
  margin-top: 18rem;
}

.botao-sair:hover{
  background-color: #850101;
}



.perfil-usuario{
  font-family: 'Oswald';
  margin-right: 26rem;

}


.conta-usuario{
  display: grid;
  margin-left: 28rem;
  margin-top: -15rem;
  font-weight: 400;
  font-size: 22px;
  font-family: 'Oswald';
  gap: 15px;
}

.dados-pessoais{
  padding: 10px;
  border: 1px solid #E1C59B;
  background-color: #E1C59B;
  border-radius: 10px;
  width: 375px;
  height: 35px;
  border: none;
  font-size: 20px;
  box-sizing: border-box;
  font-weight: 300;
}

.button-alterar{
  width: 138px;
  height: 59px;
  border-radius: 12px;
  border: 2px solid #000000;
  background-color: #9E0000;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 16px;
  margin-left: 7rem;
  margin-top: 1rem;
}

.button-alterar:hover{
  background-color: #850101;
}

.modal-conteudo{
  display: block;
}

.user-image-container {
  position: relative;
  display: inline-block;
  margin-left: 4rem;
}

.imagem-perfil{
  width: 250px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #000000;
  overflow: hidden;
}

.botao-hover {
  display: none;
  position: absolute;
  cursor: pointer;
  width: 100px;
  height: 40px;
  bottom: 70px;
  margin-left: 8.2rem;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.user-image-container:hover .botao-hover {
  display: block;
}

.image-upload-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Transparência para fundo escuro */
}

.image-upload-modal-content {
  background-color: #ffefd5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  height: 500px;
  border: 2px solid #2c2c2c;
  border-radius: 10px;
  font-family: 'Oswald';
}

.atualizar-imagem{
  color: #000000;
  font-size: 25px;
  margin-left: 5rem;
  margin-top: -2.5rem;
  margin-bottom: 3rem;
}

.selecionar-imagem{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 4rem;
  font-size: 18px;
}

.form-imagem{
  width: 350px;
  margin-left: 3rem;
}

.imagem-selecionar{
  max-width: 100%;
}

.botao-salvar{
  font-family: 'Oswald';
  background-color: #9E0000;
  width: 100px;
  height:40px;
  border-radius: 8px;
  margin-left: 7.8rem;
  margin-top: 2.5rem;
  border: 2px solid #000000;
  color: #ffffff;
  cursor: pointer;
}

.botao-salvar:hover{
  background-color: #820101;
}

.close-image{
  display: block;
  color: rgb(186, 23, 23);
  margin-left: 27.5rem;
  cursor: pointer;
  font-size: 50px;
  margin-top: -2rem;
}

.close-image:hover{
  color:  rgb(255, 0, 0);;
}


@media (min-width: 1500px) and (max-width: 5000px)
{
  .modal{
    height: 540px;
    margin-left: 38%;
    
  }
}

@media (min-width: 1000px) and (max-width: 1500px)
{
  .modal{
    height: 520px;
    margin-left: 33%;
    
  }
}

@media (min-width: 800px) and (max-width: 1000px)
{
  .modal{
    height: 520px;
    margin-left: 25%;
    
  }
}

@media (min-width: 500px) and (max-width: 800px)
{
  .modal{
    height: 520px;
    margin-left: 20%;
    
  }
}

@media (min-width: 800px) and (max-width: 1100px)
{
  .nav-list{
    margin-right: 15%;
    
  }
}

@media (min-width: 650px) and (max-width: 800px)
{
  .nav-list{
    margin-right: 30%;
    
  }
}

/* @media (min-width: 0px) and (max-width: 650px)
{
  .nav-list{
    margin-right: 40%;
    
  }
} */

@media (min-width: 0px) and (max-width: 1100px)
{
  .logo{
    margin-left: 10%;
    
  }
}

@media (min-width: 0px) and (max-width: 1000px)
{
  .nav-list{
    margin-left: 8%;
    
  }
}


.close{
  color: rgb(186, 23, 23);
  margin-left: 27.5rem;
  cursor: pointer;
  width: 10%;
  height: 5%;
}

.close:hover {
  color: rgb(255, 0, 0);
  
}

.login-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    border-radius: 10px;
    font-family: 'Oswald';
    font-weight: 300;
    margin-top: 0.5rem;
}


.login-form input {
  padding: 10px;
  border: 1px solid #E1C59B;
  background-color: #E1C59B;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  border: none;
  font-size: 20px;
  box-sizing: border-box;
  font-weight: 300;
}

.login-button {
  align-self: center;
  text-align: center;
  width: 150px;
  height: 60px;
  background-color: #9E0000;
  color: #fff;
  border: 2px solid #000000;
  border-radius: 8px;
  cursor: pointer;
  font-size: 22px;
  margin-top: 2rem;
  font-family: 'Oswald';
  font-weight: 600;
}

.login-text{
  margin-top: 0.1rem;
  margin-left: 3.2rem;
}

.login-button:hover{
  background-color: #b62121;
}

.login-form a {
  text-align: center;
  text-decoration: none;
  color: #000000;
  padding: 2px;
  font-size: 22px;
  font-weight: 600;
  font-family: 'Oswald';
}

.login-form a:hover {
  color: rgb(186, 23, 23);
}

.conta-possuir{
  text-align: center;
  text-decoration: none;
  color: #000000;
  padding: 14px;
  margin-top: 0.5rem;
}

.password-input-icon{
    background-color: #E1C59B;
    position: relative;
    margin-top: -3rem;
    padding-top: 0.005%;
    padding-left: 0.005%;
    padding-bottom: 0.005%;
    padding-right: 0.005%;
    width: 15%;
    margin-left: 19rem;
    border-radius: 10px;
    border: none;
    color: #000000;
  }

  .password-input-icon:hover{
    color: rgb(186, 23, 23);

  }

  .password-input{
      margin-bottom: 1rem;
    
  }
  .password-input{
    color: #000000;
    font-family: 'Oswald';
    font-weight: 700;
    }
  
    .password-label{
    display: block;
    margin-bottom: 1.5rem;
    font-size: 28px;
    width: 339px;
    height: 29px;
    margin-left: 10px;
    color: #000000;
    font-family: 'Oswald';
    font-weight: 400;
    }


.perfil-usuario{
  display: flex;
  justify-content: center;
  margin-top: 0.8rem;
  color: #000000;
  font-weight: 700;
  margin-right: 28rem;
}

.botao-admin {
  margin-top: 0.7rem;
  color: #fff;
  cursor: pointer;
  background-color: #b70303;
  font-family: 'Oswald';
  font-weight: 600;
  border: 2px solid #000000;
  border-radius: 8px;
}


.botao-admin:hover{
  background-color: #820101;
}