.table-container {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
}

.table{
    border: 2px solid black;
    border-radius: 18px;
    width: 90rem;
    padding-bottom: 6rem;
    background-color: #FFECCE;
}

.table-titles-row {
    background-color: #9E0000;
    border-bottom: 2px solid #000;
}

.table-cell {
    font-weight: bold !important;
    font-size: 1.5rem !important;
    font-family: 'Oswald' !important;
    color: #FFF5E7 !important;
    border-right: 2px solid #000;
}

.table-cell.quant {
    width: 15rem;
}

.table-cell.price {
    width: 15rem;
    border-right: none;
}

.button-pay {
    background-color: #9E0000;
    width: 9rem;
    height: 4.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: #FFF;
    border: 2px solid #000;
    border-radius: 1rem;
    margin-left: 75rem;
    margin-top: 3rem;
}

.button-pay:hover {
    background-color: #850101;
    cursor: pointer;
}
.close-cart{
    color: rgb(186, 23, 23);
    margin-bottom: 10.5rem; 
    cursor: pointer;
    width: 10%;
    height: 40px;
  }
  
  .close-cart:hover {
    color: rgb(255, 0, 0);
    
  }
  