.endereco-um {
    max-width: 50%;
}

.endereco-container {
    padding: 1rem 2rem 1rem 2rem
}

.titulo-endereco {
    display: flex;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    font-weight: 700;
    font-size: 2rem;
}

.label-endereco {
    font-size: 20px;
    margin-right: 1rem;
}

.dados-endereco {
    border: none;
    background-color: #E1C59B;
    border-radius: 10px;
    padding: 10px;
    height: 35px;
    width: auto;
    font-size: 20px;
}

.botao-adicionar {
    border-radius: 10px;
    border: 2px solid #000;
    height: 3rem;
    width: 7rem;
    background-color: #9E0000;
    cursor: pointer;
    color: #fff;
}