* {
  box-sizing: border-box;
}

.modal-content,
.modal {
  position: fixed; 
  z-index: 100;   
}

body{
  margin: 0;
}

.container-fluid {
  position: relative;
}

.navbar {
  background: #9E0000;
  width: 100%;
  
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list li {
  display: inline;
}

.nav-list li a {
  color: #fff;
  text-decoration: none;
}

.nav-list li a:hover {
  background-color: black;
}

.conteudo{
  display: flex;
  gap: 22px;
  
}

.carrinho:hover{
  color: #FFE2B6;
}

.perfil:hover{
  color: #FFE2B6;
}

.notificacao:hover{
  color: #FFE2B6;
}

.carrinho {
  height: 45px;
  width: 45px;
  color: #ffffff;
  transform: 0.6;
}

.perfil {
  height: 45px;
  width: 45px;
  color: #ffffff;
  transform: 0.6;
}

.notificacao{
  height: 47px;
  width: 47px;
  color: #ffffff;
  transform: 0.6;
}

.logo {
  width: 220px;
}

.logo-123{
  margin-top: 0.1rem;
}

.modal {
  display: flex;
  justify-content: center;
  background-color: #FFECCE;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);  
  border-radius: 10px;
  margin-top: 5rem;
  border: 2px solid #000000;
  width: 500px;
}

.modal-usuario{
  display: flex;
  margin: auto;
  background-color: #FFECCE;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);  
  margin-top: 5rem;
  border-radius: 10px;
  border: 2px solid #000000;
  width: 1100px;
  height: 525px;
}

.seta-voltar{
  display: block;
  font-size: 40px;
  margin-top: -3rem;
  margin-left: -12rem;
  color: #9E0000;
  cursor: pointer;
}

.seta-voltar:hover{
  color: #800000;
}

/* .button-alterar{
  width: 138px;
  height: 59px;
  border-radius: 12px;
  border: 2px solid #000000;
  background-color: #9E0000;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 16px;
  margin-left: 7rem;
  margin-top: 1rem;
} */
/* 
.button-alterar:hover{
  background-color: #850101;
} */


.close{
  color: rgb(186, 23, 23);
  margin-left: 25rem;
  cursor: pointer;
  width: 15%;
  height: 5%;
}

.close:hover {
  color: rgb(255, 0, 0);
  
}

.conta-possuir{
  text-align: center;
  text-decoration: none;
  color: #000000;
  padding: 14px;
  margin-top: 0.5rem;
}

.botao-admin {
  width: 60px;
  height: 50px;
  color: #000000;
  cursor: pointer;
  background-color: #ffefd5;
  font-weight: 600;
  border: 2px solid #000000;
  border-radius: 12px;
  font-size: 16px;
}

.botao-admin:hover{
  background-color: #FFE2B6;
}

.content-button{
  display: flex;
  justify-content: center;
}

img.logo-123{
  display: flex;
  justify-content: center;
}

.modal{
  height: 540px;
}

.modal-center{
  display: flex;
  justify-content: center;
}

.navbar-item{
  
}


@media (min-width: 0px) and (max-width: 800px){
  .conteudo{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }
  .nav-list{
    display: grid;
    grid-template-columns: 100%;
  }
  .botao-admin{
    border-radius: 18px;
    font-size: 25px;
    width: 100px;
    height: 80px;
  }
  .perfil, .carrinho, .notificacao{
    width: 75px;
    height: 75px;
  }
  .navbar-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
  }

}