*{
    font-family: 'Oswald';
}

.cardList {
    justify-content: center;
    border: solid 2px black;
    color: #9E0000;
    background-color: #FFECCE;
    display: grid;
    border-radius: 0% 0% 2% 2%;
    padding: 20px;
    font-size: 22px;

    grid-template-columns: 50% 50%;
    
}

.cardProduct {
    background-color: #ECD4AF;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cardImg {
    padding: 7.5%;
}

@media (min-width: 0px) and (max-width: 200px){
    .cardList {
        grid-template-columns: 100%
    }
}

@media(min-width: 200px) and (max-width: 850px){
    .cardList {
        grid-template-columns: 50% 50%;
    }
    .cardProduct {
        background-color: #ECD4AF;
        justify-content: center;
        text-align: center;
        border-radius: 10px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media (min-width: 850px) and (max-width: 1300px){
    .cardList {
        grid-template-columns: 33% 33% 33%;
    }
}

@media (min-width: 1300px){
    .cardList {
        grid-template-columns: 25% 25% 25% 25%;
    }
}